extends common/layout

block content
    .text-center.mb-5
        h1 Profile Page
        h2 #{user.id}
    hr.mb-5
    .row.justify-content-center
        .col-md-8.mb-4
            ul.list-group.mb-4
                li.list-group-item
                    span.text-primary Name:
                    |  #{exUser.name}
                li.list-group-item
                    span.text-primary Email:
                    |  #{exUser.email}
                li.list-group-item
                    span.text-primary ID:
                    |  #{exUser.userId}
                li.list-group-item
                    span.text-primary Internal ID:
                    |  #{exUser._id}
            .text-right
                a.btn.btn-info(role='button' href='/profile/' + exUser.userId + '/edit') Edit